section.footer.container.bg-blue.white.flex
  img(src="./img/map.png", alt="").map
  .information.column.space-between
    .contact.white.column
      .phone.align-end.column
        .text Позвонить:
        h3 +7 (800) 333-30-30
      .email.align-end.column
        .text Написать:
        h3 agency@mail.ru
    .menu
      +menu()
