doctype html
html(lang="en")#start

  include header.pug

  section.booking.container
    h2 Шесть шагов к успеху
    .wrapper
      .left-side 
        +step('1.', 'Выбрать дату и время съемки')
        +step('2.', 'Выбрать количество участников')
        +step('3.', 'Выбрать желаемую локацию для съемки')
        +step('4.', 'Зарезервировать конкретные зоны на территории выбранной локации')
        +step('5.', 'Определить перечень дополнительных услуг')
        +step('6.', 'Оформить заказ')
      .right-side
        img(src="./img/sea.jpg", alt="")
  section.info.container
    h2.yellow Предоставляем услуги для организации фото и видеосъемок.
    .text Главная цель компании – сохранить самые яркие моменты жизни клиентов на долгие годы. 
    .text Наши клиенты имеют возможность забронировать одну из предоставленных локаций для организации фото и видеосъемок. Помимо аренды, компания предоставляет широкий спектр дополнительных услуг, таких как: услуги фотографов, предоставление реквизита для съемок, такси и т.д.
    h2.center Наш девиз: Сделай жизнь ярче!
    .text У нас Вы сможете подобрать подходящий зал для Вашей фотосессии, приобрести подарочные сертификаты и даже сделать съёмку с нашим фотографом!
    .text В наших студиях современное осветительное оборудование с множеством светоформирующих насадок, оригинальные декорации, разнообразный реквизит и большой опыт наших сотрудников.
    .testimonials
      .testimonial
        .wrapper
          .text Спасибо большое! Локация "Черная жемчужина" просто супер! Все в бурных эмоциях, фото получились просто огонь
        .sign Алина
      .testimonial
        .wrapper
          .text Долго думала как отпразновать годовщину свадьбы. Увидела фото ваших локаций и влюбилась!
          .text Отлично провели время с мужем, сделали кучу фото для инстаграмма и даже распечатали несколько на память)
        .sign Марина
  section.search.container
    h2 Найди локацию своей мечты!
    .wrapper
      .left-side
        form(action="") 
          input(type="text", placeholder="Выбери регион")
          input(type="text", placeholder="Выбери дату и время")
          input(type="text", placeholder="Выбери количество участников")
          a(href="./search.html"): input(type="button", value="Найти")
      .right-side
        img(src="./img/home.jpg", alt="")
  section.promotions.container
    h2.yellow Акции
    .promo 
      h3 Скидка до 60%. За заказ зоны (до 5 человек) в локации «Черная жемчужина»
      .text Устали от городского шума, хотите провести фотосессию за городом в живописной локации?<br>Заказывайте место в локации «Черная жемчужина».<br>Здесь вас ждет настоящая пиратская шхуна с настоящими пиратами! Фото будут просто огонь!
      .wrapper
        img(src="./img/ship.jpg", alt="")
        .text-area
          .wrapper
            .wrapper-2
              .text-block 
                .text.bold Заказ от 3 до 5 человек:
                .text #[strong Скидка 40%] на аренду при заказе в будний день
              .text-block 
                .text.bold Заказ от 3 до 5 человек + услуги фотографа:
                .text #[strong Скидка 55%] на аренду при заказе в будний день
              +button('Подробнее', '#', 'bg-orange button white')
            .disclaimer Купон действует в будние дни при наличии свободных мест
    .divider 
    .promo 
      h3 Скидка до 51% при заказе услуг фотографа и использовании реквизита локации. Уютное место для организации детской фото-видео съемки «Поляна сказок»
      .text Локация «Поляна сказок» расположена в живописной загородной местности на берегу чистого озера. Есть места для организации фотосъемок как на открытом воздухе, так и под навесом с профессиональным оборудованием и реквизитом.
      .wrapper.wrap-rvs
        img(src="./img/bogatyrs.jpg", alt="")
        .text-area
          .wrapper
            .wrapper-2
              .text-block 
                .text Купон действует на следующие виды услуг:
              .text-block
                .text #[strong Скидка 51%] для аренды зоны в локации «Поляна сказок» при условии заказа услуг фотографа
              .text-block
                .text Преимущества заказа именно этой локации:
                ul
                  li безопасность (территория локации является частной и охраняется)
                  li мало людей (площадь — 200 кв. м)
                  li защита от насекомых (территория кемпинга обработана от клещей)
                  li обустроенный тематический лагерь, в котором можно сфотографироваться с любимыми персонажами сказок
              +button('Подробнее', '#', 'bg-orange button mtb-40 white')
            .disclaimer Обязательна предварительная запись по телефону.
    .divider 
    .promo 
      h3 Скидка до 25%. Закажи праздник "Под ключ"
      .text При выборе локации для 5 человек и больше, а также при заказе всех дополнительных услуг можно очень неплохо сэкономить!
      .wrapper
        img(src="./img/children.jpg", alt="")
        .text-area
          .wrapper
            .wrapper-2
              .text-block
                .text Купон действует на следующие виды услуг:
              .text-block
                ul
                  li #[strong Скидка 25%] для организации комплексного праздника для группы от 10 человек.
                  li #[strong Скидка 10%] для организации комплексного праздника для группы от 5 человек.
              +button('Подробнее', '#', 'bg-orange button white')
            .disclaimer Обязательна предварительная запись по телефону.
  section.subscribe.container.bg-orange.align-center.column
    h3.white Подпишись, чтобы не пропустить акции!
    form(action="").flex
      input(type="text", placeholder="Email")
      +button("Подписаться", '#', 'bg-blue button white')
  include footer.pug
        